<%- include("../partials/header", {auth}) -%>

<div class="w-75 mt-4 pt-2 mx-auto d-grid">
  <h2 class="text-center pb-2 mb-4">Recipes</h2>
  <div class="row justify-content-center">
    <% recipes.forEach(recipe => { %>
    <div class="col-3 border text-center">
      <a
        href="edit/recipe/<%= recipe._id %>"
        class="text-decoration-none text-dark p-1"
        title="<%= recipe.content1 %>"
      >
        <div>
          <p class="mb-0"><%= recipe.date %></p>
          <h6 class="mt-0"><%= recipe.title%></h6>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
