<%- include("../partials/header", {auth}) -%>

<div class="row justify-content-center container mt-4 mb-4 p-1 mx-auto">
  <div class="col-lg-8 col-md-12 mx-auto shadow-sm">
    <!-- TODO: handle action - edit/recipe - etc -->
    <form
      id="recipe-form"
      class="border p-3 rounded bg-white mx-auto"
      method="POST"
      action="/edit/recipe/<%= id %>"
    >
      <h1 class="mb-1 mt-4 text-center">Edit Recipe</h1>
      <p class="text-center mb-4">
        Form laid out in order content will appear on page
      </p>

      <div class="form-group col-lg-3 col-sm-4">
        <label class="mt-2 font-weight-bold" for="date">Date</label>
        <input
          title="Date you'd like to appear on recipe"
          class="form-control mb-3"
          type="text"
          name="date"
          id="date"
          value="<%= date %>"
          required
        />
      </div>

      <div class="form-group col-lg-8 col-sm-6 mb-4">
        <label class="font-weight-bold" for="title">Title</label>
        <input
          title="Title as you'd like it to appear on recipe header and card"
          class="form-control"
          type="text"
          name="title"
          id="title"
          value="<%= title %>"
          required
        />
      </div>

      <div class="form-group col mb-4">
        <label class="font-weight-bold" for="content1">First Paragraph</label>
        <textarea
          class="form-control mb-4"
          name="content1"
          id="content1"
          rows="5"
          placeholder="First paragraph of post..."
          required
        >
<%= content1 %></textarea
        >

        <label class="font-weight-bold" for="content2">Second Paragraph</label>
        <textarea
          class="form-control mb-4"
          name="content2"
          id="content2"
          rows="5"
        >
<%= content2 %></textarea
        >

        <label class="font-weight-bold" for="content3">Third Paragraph</label>
        <textarea
          class="form-control mb-4"
          name="content3"
          id="content3"
          rows="5"
        >
<%= content3 %></textarea
        >
      </div>

      <div class="form-group col">
        <label class="font-weight-bold" for="comment">Card Comment</label>
        <textarea
          title="Short description of post to display on card. Max chars 130."
          class="form-control mb-4"
          name="comment"
          id="comment"
          rows="3"
          maxlength="130"
          required
        >
<%= comment %></textarea
        >
      </div>

      <div class="form-group col-lg-4 col-sm-6">
        <label class="font-weight-bold" for="submittedBy">Recipe Author</label>
        <input
          title="Creator of recipe to be displayed on card and recipe page"
          class="form-control"
          type="text"
          name="submittedBy"
          value="<%
          submittedBy %>"
        />
      </div>

      <div class="form-group col">
        <button
          class="btn btn-danger mb-3 btn-block"
          type="submit"
          name="button"
        >
          Publish
        </button>
      </div>
    </form>
  </div>
</div>
