<%- include("../partials/header", {auth}) -%>

<div class="w-75 mt-4 pt-2 mx-auto d-grid">
  <h2 class="text-center pb-2 mb-4">News</h2>
  <div class="row justify-content-center">
    <% posts.forEach(post => { %>
    <div class="col-3 border text-center">
      <a
        href="edit/news/<%= post._id %>"
        class="text-decoration-none text-dark p-1"
        title="<%= post.content1 %>"
      >
        <div>
          <p class="mb-0"><%= post.date %></p>
          <h5 class="mt-0"><%= post.title %></h5>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
