<%- include("partials/header", {auth}) -%>

<div class="header-div">
  <div class="header-filter"></div>
  <img
    class="bottle"
    id="bottle"
    src="https://ik.imagekit.io/dzs7huqkhng/bottle_zSdfLgKew80.png?tr=w-1920,h-680"
    alt="Arson Sauce bottle"
    width="1920"
    height="680"
  />
</div>

<div class="wrapper">
  <div class="story-container">
    <img class="chili" src="img/chili.svg" alt="" />
    <div class="story-text-container">
      <div class="story-text">
        <!--     Title     -->
        <h1 class="story-title">The Story</h1>
        <!--   Story Image   -->
        <img
          class="plants-img"
          height="470"
          width="413"
          src="https://ik.imagekit.io/dzs7huqkhng/plants_dXaNgpYP8.jpg?tr=h-470"
          alt="pepper plant taller than Eric"
        />
        <!--   Story Text   -->
        <div class="story-p">
          <p>
            When Eric Pearson gave a sample of his spicy red “Pearson Hot Sauce”
            to a friend, he suggested that the name on the label needed a kick
            to match the scorching deliciousness inside the bottle. So, during a
            series of conversations on the subject, a family member (probably
            Eric’s clever wife) recalled an offhanded remark made by one of
            their sons’ friends during their high school days, that was
            ironically fitting.
          </p>
          <p>
            Eric and his sons were well known for their epic bonfires in the
            fall. These fires were so big and so hot that some say the
            marshmallows INSIDE THE HOUSE came out of the package already
            roasted!
          </p>
          <!-- #truncate - cut off on mobile screens -->
          <p>
            <span id="truncate"
              >One time the folks from a neighboring farm called the fire
              department because they saw the glow on the horizon and thought
              someone’s house was ablaze. The firemen who responded to the call
              were so impressed that they got out their cell phones and started
              taking pictures. Even in the dead of an Iowa winter, if the
              Pearson boys were building a fire, you showed up in shorts and a
              t-shirt because it was gonna be HOT! After witnessing one of these
              epic fires, a friend of one of the Pearson boys quipped “Well, ya
              can’t spell Pearson without ‘arson!’” And a hot sauce name was
              born.</span
            >
            <a class="continue-reading" type="button" href="/story"
              >Continue reading...</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="custom-shape-divider-bottom-1592405130">
      <svg
        id="wave"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </div>
</div>
<div class="updates-container">
  <div class="container">
    <h1 class="updates-header">Featured Updates</h1>
  </div>

  <!-- "Updates" cards -->
  <div class="updates-card-container container">
    <div class="card home-card border-top-0">
      <div class="card-body d-flex flex-row">
        <img
          src="https://ik.imagekit.io/dzs7huqkhng/Arson/newspaper_1IM04ANztSwQ.webp?tr=w-50,h-50"
          class="rounded-circle mr-3"
          height="50px"
          width="50px"
          alt="newspaper"
        />

        <!-- Header -->
        <div>
          <a class="card-category" href="/recipes">
            <p class="card-category">News</p></a
          >
          <p class="card-title font-weight-bold mb-0">
            <a href="/news/<%= news._id %>" class="card-link-wrapper">
              <%= news.title %></a
            >
            </p>

          <p class="card-text">
            <i class="far fa-clock pr-2"></i><%= news.date %>
          </p>
        </div>
      </div>

      <!-- Image -->
      <a href="/news/<%= news._id %>" class="card-link-wrapper"
        ><div
          class="card-img-container"
          style="background-image: url('/img/<%= news.images[0].filename %>')"
        ></div
      ></a>

      <div class="card-footer border-0 p-3" style="background: #fafafa"></div>
    </div>

    <% recipes.forEach(recipe => { %>

    <!------  Card  ------>

    <div class="card home-card border-top-0">
      <div class="card-body d-flex flex-row">
        <img
          src="https://ik.imagekit.io/dzs7huqkhng/Arson/cutlery_cFIbLw0hu.webp?tr=w-50,h-50"
          class="rounded-circle mr-3"
          height="50px"
          width="50px"
          alt="cutlery"
        />

        <!-- Header -->
        <div>
          <a class="card-category" href="/recipes">
            <p class="card-category">Recipe</p></a
          >
          <p class="card-title font-weight-bold mb-0">
            <a href="/recipes/<%= recipe._id %>" class="card-link-wrapper">
              <%= recipe.title %></a
            >
          </p>

          <p class="card-text">
            <i class="far fa-clock pr-2"></i><%= recipe.date %>
          </p>
        </div>
      </div>

      <!-- Image -->
      <a href="/recipes/<%= recipe._id %>" class="card-link-wrapper"
        ><div
          class="card-img-container"
          style="background-image: url('/img/<%= recipe.images[0].filename %>')"
        ></div
      ></a>

      <div class="card-footer border-0 p-3" style="background: #fafafa"></div>
    </div>

    <% }) %>
  </div>
</div>

<%- include("partials/footer") -%>
