<%- include("partials/header") -%>
<div class="container recipe-page-container">
  <h1 class="recipe-page-title text-center">Recipes</h1>
  <div class="container recipe-page-card-container">
    <% recipes.forEach(recipe => { %>
    <div class="container">
      <div class="card recipe-page-card">
        <img
          class="card-img-top p-3 recipe-page-card-image"
          src="<%= recipe.img %>"
          alt="recipe image"
        />

        <div class="recipe-page-card-body p-3">
          <p class="card-category">Recipe</p>
          <h3 class="mb-0 card-title">
            <a class="text-dark" href="#"><%= recipe.title %></a>
          </h3>
          <div class="mb-1 text-muted">
            <i class="far fa-clock pr-2"></i><%= recipe.date %>

            <small class="text-muted ml-3"><%= recipe.submittedBy %></small>
          </div>
          <p class="card-text mt-3 mb-3">"<%= recipe.content %>"</p>
          <!-- <a href="#" class="read-more">Read more</a> -->
        </div>
        <div class="card-footer recipe-page-social-icons">
          <p class="copy-msg">Link Copied!</p>
          <i
            class="fas fa-link p-1 mt-1 ml-2 copy-link float-right"
            data-placement="top"
            title="Copy Link"
          ></i>

          <i
            class="fas fa-thumbs-up p-1 mt-1 float-right"
            data-placement="top"
            title="like"
          ></i>
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</div>

<script>
  //Copy Link on Click
  const copiedLinks = document.querySelectorAll(".copy-link");
  const copiedMsgs = document.querySelectorAll(".copy-msg");
  const links = Array.from(copiedLinks);
  const msgs = Array.from(copiedMsgs);
  links.forEach((link) => {
    link.addEventListener("click", (e) => {
      window.navigator.clipboard.writeText(window.location.href);
      console.log(link.previousElementSibling);
      link.previousElementSibling.style.display = "block";
      setTimeout(() => {
        link.previousElementSibling.style.display = "none";
      }, 2000);
    });
  });
</script>
