<%- include("partials/header", {auth}) -%>

<div class="container single-recipe-wrapper">
   <div class="recipe-content container">
    <h1 class="single-recipe-title"><%= title %></h1>
    <p class="text-muted"><%= date %><span class="font-weight-bold ml-2" style="color:hsl(7, 60%, 54%)";><%= submittedBy %></span></p>

    <div class="recipe-page-social-icons">
      <p class="copy-msg">Link Copied!</p>
       
      <!----- Auth Buttons ----->

        <% if(auth === true) { %>
          <div class="d-flex">
          <a class="btn btn-dark font-weight-bold mb-3 mr-3" type="button" href="/recipes/edit/<%= id %>">Edit Recipe</a>

          <form
            id="news-delete-form"
            method="POST"
            action="/recipes/delete/<%= id %>"
            >
            <button class="btn btn-light border-0 text-danger font-weight-bold" type="submit" onclick="return confirm('Are you sure you want to delete this post?')">Delete</button>
          </form>
          </div>
      <% } else { %>
        <i
          class="fas fa-link copy-link"
          data-placement="top"
          title="Copy Link"
        ></i>
        <% } %>
    </div>

    <img class="recipe-top-image" src="/img/<%= images[0].filename %>" alt="" />

 
    
    <div class="single-recipe-text">
      <p><%= content1 %></p>
     
      <% if(images.length > 1) { %>
      
        <img class="recipe-middle-image" src="/img/<%= images[1].filename %>" alt="" />
    
    <% } %>
      <p class="mt-2"><%= content2 %></p>
      
      <% if(images.length > 2) { %>
      
     
        <img class="recipe-bottom-image" src="/img/<%= images[2].filename %>" alt="" />
     
      <% } %>
      <p class="mt-2"><%= content3 %></p>
    </div>
 
  
</div>
<script>
  //Copy Link on Click
  const copiedLinks = document.querySelectorAll(".copy-link");
  const copiedMsgs = document.querySelectorAll(".copy-msg");
  const links = Array.from(copiedLinks);
  const msgs = Array.from(copiedMsgs);
  links.forEach((link) => {
    link.addEventListener("click", (e) => {
      window.navigator.clipboard.writeText(window.location.href);
      console.log(link.previousElementSibling);
      link.previousElementSibling.style.display = "block";
      setTimeout(() => {
        link.previousElementSibling.style.display = "none";
      }, 2000);
    });
  });
</script>
</body>
</html>
