<%- include("partials/header") -%>
<div class="container">
  <div>
    <img src="<%= image %>" alt="" />
  </div>
  <h1><%= title %></h1>
  <p><%= date %></p>
  <p><%= submittedBy %></p>
  <div class="container">
    <p><%= content %></p>
  </div>
</div>

</body>
</html>
