<%- include("partials/header", {auth}) -%>

<div class="container single-recipe-wrapper">
   <div class="recipe-content container">
    <h1 class="single-recipe-title"><%= title %></h1>
    <p class="text-muted"><%= date %><span class="font-weight-bold ml-2" style="color:hsl(7, 60%, 54%)";><%= submittedBy %></span></p>
    <div class="recipe-page-social-icons">
      <p class="copy-msg">Link Copied!</p>
       
        <% if(auth === true) { %>
  <a class="btn btn-danger mb-3" href="/edit/recipe/<%= id %>">Edit Recipe</a>
<% } else { %>
 <i
          class="fas fa-link copy-link"
          data-placement="top"
          title="Copy Link"
        ></i>
        <% } %>
    </div>

    <img class="recipe-top-image" src="/img/<%= images[0].filename %>" alt="" />

 
    
    <div class="single-recipe-text">
      <p><%= content1 %></p>
      <!-- <hr style="width:45%; margin-bottom:2rem; border:none; border-bottom:6px dotted rgba(51, 51, 51, 0.486)"> -->
      <% if(images.length > 1) { %>
      <div class="container">
        <img class="recipe-middle-image" src="/img/<%= images[1].filename %>" alt="" />
      </div>
    <% } %>
      <p><%= content2 %></p>
      
      <% if(images.length > 2) { %>
      
      <div class="container">
        <img class="recipe-bottom-image" src="/img/<%= images[2].filename %>" alt="" />
      </div>
      <% } %>
      <p><%= content3 %></p>
    </div>
  </div>
  
</div>
<script>
  //Copy Link on Click
  const copiedLinks = document.querySelectorAll(".copy-link");
  const copiedMsgs = document.querySelectorAll(".copy-msg");
  const links = Array.from(copiedLinks);
  const msgs = Array.from(copiedMsgs);
  links.forEach((link) => {
    link.addEventListener("click", (e) => {
      window.navigator.clipboard.writeText(window.location.href);
      console.log(link.previousElementSibling);
      link.previousElementSibling.style.display = "block";
      setTimeout(() => {
        link.previousElementSibling.style.display = "none";
      }, 2000);
    });
  });
</script>
</body>
</html>
